html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0 10px;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.row {
  margin-top: 70px;
  padding: 0 15px;
}

.btn {
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.btn.btn-default {
  background-color: #e0e0e0;
}

.btn.btn-primary {
  background-color: #1976d2;
}

.btn.btn-primary:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.btn.btn-danger {
  background-color: #dc004e;
}
